*{
    margin: 0;  
    padding: 0;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif; 
     
}

h1{
    position: fixed;
    width: 100%;
    height:40px; 
    background-color:rgb(241, 91, 141);
    color: white;
    font-size: 15px;
    text-align:center;
    padding-top: 12px;  
    
}

h2{
    position: relative;
    top: 300px;
    text-align: center;
    font-size:50px;
    color: white;  
}

#cabecalho{
    position: fixed;
    top: 40px;
    background-color: blanchedalmond;
    width: 100%;
    padding: 20px; 
    text-align: center;     
}

#cabecalho img{
    width: 70px;
    height: 70px;
}

.container{
    display: grid;
    height: 100vh;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "capa capa capa"
                         "fotos fotos fotos"
                         "rodape rodape rodape";
                         
}


#menu-h{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 24%;
    padding-bottom: 15px;  
    
}

#menu-h ul{
    display: flex;
    list-style: none;   
}

#menu-h ul li{
    padding: 15px;  
      
}

#menu-h ul li a{
    color: rgb(90, 88, 88);
    padding: 25px;
    font-size: 20px;
    font-size:large;
    margin-left: 50px;
   
}

#menu-h a:hover{
    background-color:  rgb(241, 91, 141);
    transition: all 0.3s linear;
}

#capa{
    grid-area: capa;
    padding-top:210px;
}

h3{
    width: 100%;
    position: fixed;
    text-align: center;
    background-color:  rgb(241, 91, 141);
    font-size: 25px;
    color: white;
   
   
}

.fotos{
    grid-area: fotos;
    margin: auto;
    
       
}

/*#foto2{
    grid-area: foto2;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 13px;

}

#foto3{
    grid-area: foto3;
    padding-right:  30px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 13px;
   
}*/


#rodape{
    grid-area: rodape;
    background-color: blanchedalmond;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 15px;
}
