/* Estilos para o corpo da página */
body{
    margin: 0;  
    padding: 0;
    font-family:'Times New Roman', Times, serif; 
    box-sizing: border-box;
}

/* Estilo para chamada desconto
--> centraliza e fixa o conteúdo no topo da página*/

h1{
    position: fixed;
    display: flex;
    justify-content: center;
    background-color:rgb(241, 91, 141);
    color: white;
    font-size: 20px;
    margin: auto; 
    font-weight: bolder;
    
}

/* Estilos para o cabeçalho da página*/
#cabecalho{
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;  
   
}

#cabecalho img{
    width: 80px;
    height: 80px;
}


/*Estilos para os itens do menu */
#menu-h{
   background-color: #fff;
   overflow: hidden;
   
}

#menu-h ul{
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content:flex-start;
   
}

#menu-h li a{
    display:inline-block;
    color: rgb(90, 88, 88);
    font-weight:lighter;
    text-decoration: none;
  
}

/*Animação para quando o usuário clicar com o mouse no menu, o mesmo
mudar de cor*/
#menu-h li a:hover{
    background-color:  rgb(241, 91, 141);

/* Tempo em que o hover será aplicado*/    
    transition: all 0.5s linear;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    position: relative;
    display: inline-block;
    box-shadow: 0 0 solid 2px  rgb(241, 91, 141);
    display: none;
    z-index: 1;
}

.dropdown-menu a{
    display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
    
}

.capa img{
   width: 100vw;
   height: 100vh;
}

/*Estilos do container:
--> centraliza o conteudo na página*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: blanchedalmond;
   

}

/*Estilos do content
--> definição da altura e largura da imagem
--> hoverflow hidden p/ esconder as imagens que estavam ultrapassando o content*/
.content{
    height: 370px;
    width: 800px;   
    overflow: hidden; 
    
    /* Posicionamento da imagem*/
    position: absolute;
    top:71%;
    left: 50%;

    /* Move a imagem em seu próprio eixo*/
    transform: translate(-50%, -50%);   

}

/* Navegação dos slides*/
.navigation{

 /* Para mover o elemento filho dentro do elemento pai*/
    position: absolute;
    bottom: 20px;
    left: 50%;

 /* Para corrigir a imagem na horizontal (eixo x)*/   
    transform: translate(-50%);

 /* Para deixar o elemento um ao lado do outro*/   
    display: flex;
 
}

/* Personalização do label (barras de navegação) */
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;

 /* Tempo em que o hover será aplicado*/
    transition: .4s
    
}

/* Para deixar a barra branca ao colocar o mouse emcima do bar*/
.bar:hover{
    background-color: #fff;
    
}

input{
    display: none;
}

/*Personalização das imagens p/ deixar uma ao lado da outra na animação*/
.slides{
    display: flex; 

/* Para uma imagem aparecer de cada vez e a largura ficar 100% 
sem correr o risco de dar algum problema */
   width: 500%;
   height: 100%;
   animation: slides 20s infinite;
  
}

/* Pernonalização da div de cada imagem, onde está armazenada as imagens 
--> para que todas as imagens tenham o mesmo tamanho dividi 5 imagens / 100 que é a div pai
--> transição para um efeito */
.slide{
   width: 20%;     
   transition: .6s;

}

/* Personalização das imagens que estão dentro do slide, para que todas apareçam por inteira */
.slide img{
    width: 100%;
    height: 100%; 
    
}

/* Controlar os slides */
#slide1:checked ~ .s1 {
    margin-left: 0;
}

/* A segunda imagem estará -20% da primeira imagem*/
#slide2:checked ~ .s1{
    margin-left: -20%;

}

/* A terceira imagem estará -40% da segunda imagem*/
#slide3:checked ~ .s1{
    margin-left: -40%
    
}

/* A quarta imagem estará -60% da terceira imagem*/
#slide4:checked ~ .s1{
    margin-left: -60%;

}

/* A quinta imagem estará -80% da quarta imagem*/
#slide5:checked ~ .s1{
    margin-left: -80%;
}


.container-grid{
    display: grid;
    height: 100vh;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas:"card1 card2 card3"
                         "video contato mapa"
                         "rodape rodape rodape";
                         
                         
}

 
/* Descrição dos cards*/
h3{
    font-weight: lighter;
}

#card1{
    grid-area: card1; 
    padding-bottom: 30px;
    background-color: blanchedalmond;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 13px;
  
}

#card2{
    grid-area: card2;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: blanchedalmond;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 13px;

}

#card3{
    grid-area: card3;
    padding-bottom: 30px;
    background-color: blanchedalmond;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 13px;
   
}

h4{
    font-size: 15px;
    font-weight: lighter;
}

#video{
    grid-area: video;
    padding-left: 30px;
    padding-top:  30px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 15px;
}


#mapa iframe{
    grid-area: mapa;
    width: 300px;
    height: 300px;
    padding-right: 100px;
}

#mapa{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 100px;
    padding-bottom: 30px;
    text-align: center; 
    color: rgb(90, 88, 88);
    font-size: 15px;
}

#contato{
    grid-area: contato;
    margin-left: 150px;
    padding-top: 150px;
    font-size: 20px;
    padding-left: 20px;

}

.atendimento{
    color:  rgb(241, 91, 141);
    font-size: 20px;
    font-weight: bolder;
    margin-left: 35px;
}

.email{
    color:rgb(241, 91, 141);
  
}

.email__email{
    color:rgb(90, 88, 88) ;
}

.whatsapp{
    color:rgb(241, 91, 141);
}

.whatsapp__whatsapp{
    color:rgb(90, 88, 88) ;

}

#rodape{
    grid-area: rodape;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 15px;
    background-color: blanchedalmond;
    margin-top: 60px;
    padding: 35px;
   
}

@media (min-width: 480px){
    h1{
        font-size: 0.8rem;
        text-align: center;
        width: 100%;
    }

    #cabecalho{
        position: fixed;
        top: 13px;
        width: 100%;
        padding: 15px; 
    }
    
    #cabecalho img{
        width: 60px;
        height: 60px;
    }

    
    #menu-h{
        position: fixed;
        background-color: white;
        width: 100vw;
        top: 16%;
        
    }
    
    #menu-h ul{
        display: flex;
        list-style: none;   
    }
    
    
    #menu-h ul li a{
        color: rgb(90, 88, 88);
        padding: 10px;
        font-size: 11px; 
        margin-left: 10px;
       
    }

    .capa img{
       
        width: 100vw;
        height: 50vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: blanchedalmond;
        padding-bottom: 500px;
       
        
    }
    .content{
        height: 270px;
        width: 450px; 
        position: absolute;
        top: 85%;
        left: 50%;  
    }

    .container-grid{
        display: grid;
        height: 100vh;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:  "card1"
                              "card2" 
                              "card3"
                              "video" 
                              "contato" 
                              "mapa"
                              "rodape";
                            
    }

    #card1{
        grid-area: card1;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 30px;
        background-color: blanchedalmond;
        text-align: center;
        color: rgb(90, 88, 88);
        font-size: 13px;
      
    }
    
    #card2{
        grid-area: card2;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    #card3{
        grid-area: card3;
        padding-left: 10px;
        padding-right:  5px;
        padding-top: 50px;
        padding-bottom: 30px;  
       
    }

    #video{
        grid-area: video;
        width: 90%;
    }

    #contato{
        grid-area: contato;
        margin-left: 110px;
        padding-top: 50px;
        font-size: 20px;
    
    }

    #mapa iframe {
        grid-area: mapa;
        padding-left: 25%;
        width: 300px;
        height: 300px;   
    }

    #rodape{
        grid-area: rodape;
          
    }



}

@media (min-width: 768px) {

    h1{
        font-size: 1.0rem;
        text-align: center;
        width: 100%;
    }

    #cabecalho{
        position: fixed;
        top: 19px;
        width: 100%;
        padding: 15px; 
    }
    
    #cabecalho img{
        width: 70px;
        height: 70px;
    }

    #menu-h{
        position: fixed;
        background-color: white;
        width: 100vw;
        top: 17%;
        
    }
    
    #menu-h ul{
        display: flex;
        list-style: none;   
    }
    
    
    #menu-h ul li a{
        color: rgb(90, 88, 88);
        padding: 10px;
        font-size: 15px; 
        margin-left: 35px;
       
    }

    .capa img{
       
        width: 100vw;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: blanchedalmond;
        padding-bottom: 900px;
       
        
    }
    .content{
        height: 370px;
        width: 600px; 
        position: absolute;
        top: 150%;
        left: 50%;  
    }
      
    .container-grid{
        display: grid;
        height: 100vh;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:  "card1"
                              "card2" 
                              "card3"
                              "video" 
                              "contato" 
                              "mapa"
                              "rodape";
                            
    }


    #card1{
        grid-area: card1;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 30px;
        background-color: blanchedalmond;
        text-align: center;
        color: rgb(90, 88, 88);
        font-size: 13px;
      
    }
    
    #card2{
        grid-area: card2;
        padding-left: 10px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    #card3{
        grid-area: card3;
        padding-right:  5px;
        padding-top: 50px;
        padding-bottom: 30px;  
       
    }
    
    #video{
    grid-area: video;
    width: 90%;
    }

    #contato{
        grid-area: contato;
        margin-left: 230px;
        padding-top: 50px;
        font-size: 20px;
    
    }

    #mapa iframe {
        grid-area: mapa;
        padding-left: 30%;
        width: 300px;
        height: 300px;   
    }

    #rodape{
        grid-area: rodape;
          
    }
        

} 

@media (min-width: 1024px) {
   
    h1{
        position: fixed;
        height:40px; 
        background-color:rgb(241, 91, 141);
        color: white;
        font-size: 15px;
        text-align:center;
        padding-top: 12px;  
        
    }
    
    #cabecalho{
        position: fixed;
        top: 40px;
        background-color: blanchedalmond;
        width: 100%;
        padding: 20px; 
        text-align: center;     
    }
    
    #cabecalho img{
        width: 70px;
        height: 70px;
    }
    
    #menu-h{
        position: fixed;
        overflow: hidden;
        background-color: white;
        width: 100%;
        top: 22%;  
    }
    
    #menu-h ul{
        display: flex;
        list-style: none;   
    }
    
    #menu-h ul li{
        padding: 15px;       
    }
    
    #menu-h ul li a{
        color: rgb(90, 88, 88);
        padding: 10px;
        font-size: 30px;
        font-size:large;
        margin-left: 100px;
       
    }
    
    #menu-h a:hover{
        background-color:  rgb(241, 91, 141);
        transition: all 0.3s linear;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }
    
    .dropdown-menu{
        position: relative;
        display: inline-block;
        box-shadow: 0 0 solid 2px  rgb(241, 91, 141);
        display: none;
        z-index: 1;
    }
    
    .dropdown-menu a{
        display: block;
    }
    
    .dropdown:hover .dropdown-menu{
        display: block;
        
    }

    .capa img{
        width:100vw;
        height: 180vh;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: blanchedalmond; 
        
     
    }
    
    /*Estilos do content
    --> definição da altura e largura da imagem
    --> hoverflow hidden p/ esconder as imagens que estavam ultrapassando o content*/
    .content{
        height: 370px;
        width: 800px;   
        overflow: hidden; 
        
        /* Posicionamento da imagem*/
        position: absolute;
        top:220%;
        left: 50%;
    
        /* Move a imagem em seu próprio eixo*/
        transform: translate(-50%, -50%);   
    
    }
    
    /* Navegação dos slides*/
    .navigation{
    
     /* Para mover o elemento filho dentro do elemento pai*/
        position: absolute;
        bottom: 20px;
        left: 50%;
    
     /* Para corrigir a imagem na horizontal (eixo x)*/   
        transform: translate(-50%);
    
     /* Para deixar o elemento um ao lado do outro*/   
        display: flex;
     
    }
    
    /* Personalização do label (barras de navegação) */
    .bar{
        width: 70px;
        height: 17px;
        border: 2px solid #fff;
        margin: 6px;
        cursor: pointer;
    
     /* Tempo em que o hover será aplicado*/
        transition: .4s
        
    }
    
    /* Para deixar a barra branca ao colocar o mouse emcima do bar*/
    .bar:hover{
        background-color: #fff;
        
    }
    
    input{
        display: none;
    }
    
    /*Personalização das imagens p/ deixar uma ao lado da outra na animação*/
    .slides{
       display: flex; 
    
    /* Para uma imagem aparecer de cada vez e a largura ficar 100% 
    sem correr o risco de dar algum problema */
       width: 500%;
       height: 100%;
       animation: slides 20s infinite;
      
    }
    
    /* Pernonalização da div de cada imagem, onde está armazenada as imagens 
    --> para que todas as imagens tenham o mesmo tamanho dividi 5 imagens / 100 que é a div pai
    --> transição para um efeito */
    .slide{
       width: 20%;     
       transition: .6s;
    
    }
    
    /* Personalização das imagens que estão dentro do slide, para que todas apareçam por inteira */
    .slide img{
        width: 100%;
        height: 100%; 
        
    }
    
    /* Controlar os slides */
    #slide1:checked ~ .s1 {
        margin-left: 0;
    }
    
    /* A segunda imagem estará -20% da primeira imagem*/
    #slide2:checked ~ .s1{
        margin-left: -20%;
    
    }
    
    /* A terceira imagem estará -40% da segunda imagem*/
    #slide3:checked ~ .s1{
        margin-left: -40%
        
    }
    
    /* A quarta imagem estará -60% da terceira imagem*/
    #slide4:checked ~ .s1{
        margin-left: -60%;
    
    }
    
    /* A quinta imagem estará -80% da quarta imagem*/
    #slide5:checked ~ .s1{
        margin-left: -80%;
    }
    

    .container-grid{
        display: grid;
        height: 100vh;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "card1 card2 card3"
                             "video contato mapa"
                             "rodape rodape rodape";
    }
    
  
    
    #card1 img{
        grid-area: card1;
        background-color: blanchedalmond;
        text-align: center;
        color: rgb(90, 88, 88);
        font-size: 13px; 
    }
    
    #card2 img{
        grid-area: card2;
        padding-left: 80px;
        background-color: blanchedalmond;
        text-align: center;
        color: rgb(90, 88, 88);
        font-size: 13px;
    
    }
    
    #card3{
        grid-area: card3;
        background-color: blanchedalmond;
        text-align: center;
        color: rgb(90, 88, 88);
        font-size: 13px;
       
    }

    #video{
        grid-area: video;
        padding-left: 30px;
        padding-top:  30px;
        padding-bottom: 20px;
        text-align: center;
        color: rgb(90, 88, 88);
        font-size: 15px;
    }
    
    #mapa iframe{
        grid-area: mapa;
        width: 300px;
        height: 300px;
    }
    
    #mapa{
        padding-top: 30px;
        margin-left: 80px;
        padding-bottom: 30px;
        text-align: center; 
        color: rgb(90, 88, 88);
        font-size: 15px;
    }
    
    #contato{
        grid-area: contato;
        margin-left: 150px;
        padding-top: 10px;
        font-size: 20px;
    
    }
    
    .atendimento{
        color:  rgb(241, 91, 141);
        font-size: 20px;
        font-weight: bolder;
        margin-left: 35px;
    }
    
    .email{
        color:rgb(241, 91, 141);
      
    }
    
    .email__email{
        color:rgb(90, 88, 88) ;
    }
    
    .whatsapp{
        color:rgb(241, 91, 141);
    }
    
    .whatsapp__whatsapp{
        color:rgb(90, 88, 88) ;
    
    }
    
    #rodape{
        grid-area: rodape;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(90, 88, 88);
        font-size: 15px;
        background-color: blanchedalmond;
       
    }
    

}