*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}



#cabecalho{
    display: flex;
    padding: 15px;
    justify-content: center;
    background-color: blanchedalmond;  
   
}

#cabecalho img{
    width: 80px;
    height: 80px;
}

.menu-h li a{
    display:inline-block;
    text-decoration: none;
    color: rgb(90, 88, 88);
    top:35px;
    padding: 15px;
    font-weight:lighter;
   
}

.menu-h li a:hover{
    background-color:  rgb(241, 91, 141);
    transition: all 0.5s linear;
}

form{
    width: 300px;
    margin: 100px auto;
    text-align: center;
    color: rgb(241, 91, 141);
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    border: 2px solid rgb(241, 91, 141);
}

button{
    color: #fff;
    background-color: rgb(241, 91, 141);
    border: none;
    padding: 10px;

}

#rodape{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(90, 88, 88);
    font-size: 15px;
    background-color: blanchedalmond;
    margin-top: 150px;
    padding: 36px
   
}